content{
    display: block;
    background-color: var(--color-background);
    min-height: 700px;
    margin: 80px 0 0px;
}

.section1{
    display: block;
    background: var(--color-background);
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 50px 100px;
}
.section1 h2{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 300%;
}
.section1 .contentbox{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
span{
    color: var(--color-light);
}
.contentbox .text{
    line-height: 1.75;
    width: 70%;
    flex: 0 0 70%;
    position: relative;
}
.text h5{
    padding: 20px 0 0;
    font-weight: 400;
    font-size: px;
}
.text p{
    color: var(--color-dark);
    padding: 10px 0 ;
    font-size: 14px;
}
.contentbox .text h2{
    padding: 40px 0 0;
    font-size: 200%;
}
ul{
    padding: 10px 15px;
}
ul li{
    list-style: circle;
    font-size: 14px;
}
.contentbox .picside{
    position: relative;
    width: 30%;
    flex: 0 0 30%;
    text-align: center;
}

@media (max-width:790px){    
    content{
        margin: 100px 0 0 ;
    }
    .contentbox .text{
        line-height: 1.75;
        width: 100%;
        flex: 0 0 100%;
        position: relative;
    }
    .contentbox .text h2{
        padding: 20px 0 0;
        font-size: 300%;
    }
    .contentbox .picside{
        margin: 30px 0;
        position: relative;
        text-align: center;
    }
    .section1{
        padding: 30px 50px;
    }
    .section1 h2{
        font-size: 400%;
    }
}
.PATHWAY{
    padding: 0! important;
    background: var(--color-blue);
    min-height: 100px;
    height: 300px;
}
.PATHWAY h1{
    color: var(--color-light);
    text-align: center;
    padding: 100px;
    font-size: 400%;
}
@media (max-width:790px){
    .PATHWAY{
        min-height: 100px;
        height: 300px;
    }
    .PATHWAY h1{
        color: var(--color-light);
        text-align: center;
        padding: 100px;
        font-size: 500%;
    }
}

@media(max-width:400px){
    .PATHWAY h1{
        padding: 100px 20px;
        font-size: 400%;
    }
}