:root{
    --color-dark: #;
}
content{
    display: block;
    min-height: 500px;
    background: #3d5f82;
}
.section1{
    min-height: 600px;
    padding: 80px 20px 0px 150px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1 .text1{
    animation: transitionIn 1.5s;
    position: relative;
    max-width: 600px;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateX(10px);
    }
    to{
        opacity: 1;
        transition: opacity 0s ease-in-out 0.5s;
        transform: translateX(0px);
    }
}
.section1 .text1 h2{
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 600;
    
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 1.5px;
}
.section1 .text1 h2 span{
    font-family: 'Varela Round',sans-serif;
    font-weight: 900;
    color: #abbfd4;
}
.section1 .text1 p{
    font-family: 'Noto Sans Thai', sans-serif;
    color: #072434;
    font-weight: 500;
    font-size: 18px;
}
.section1 .text1 a{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 20px;
    background: #3788df;
    color: #d5e9ff;
    border-radius: 40px;
    font-weight: 500;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
.section1 .text1 a:hover{
    background: #286fbb;
    color: #abbfd4;
}
.section1 .imgbox{
    animation: transitionIn 1.5s;
    /*width: 600px;*/
    display: flex;
    justify-content: flex-end;
}
.section1 .imgbox .homeimg{
    max-width: 800px;
}

/*content2*/

.section2{
    display: block;
    background: #4c7094;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 50px 100px;
}
.contentbox h1{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 300%;
}
.section2 .contentbox{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
span{
    color: #abbfd4;
}
.contentbox .text{
    line-height: 1.75;
    width: 70%;
    flex: 0 0 70%;
    position: relative;
    padding-left: 30px;
}
.text h5{
    font-family: 'Noto Sans Thai', sans-serif;
    color: #072434;
    padding: 10px 0 0;
    font-weight: 400;
    font-size: 20px;
}
.text p{
    font-family: 'Noto Sans Thai', sans-serif;
    color: #041822;
    padding: 10px 0 ;
    font-size: 16px;
}
.contentbox .text h2{
    font-family: 'Noto Sans Thai', sans-serif;
    padding: 40px 0 0;
    font-size: 200%;
}
ul{
    font-family: 'Noto Sans Thai', sans-serif;
    color: #072434;
    padding: 10px 15px;
}
ul li{
    list-style: circle;
    font-size: 16px;
}
.section2 ul a{
    display: inline-block;
    margin: 5px -15px 15px;
    padding: 6px 20px;
    background: #3788df;
    color: #d5e9ff;
    border-radius: 40px;
    font-weight: 500;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}
ul a:hover{
    background: #286fbb;
    color: #abbfd4;
}
.contentbox .picside{
    position: relative;
    width: 30%;
    flex: 0 0 30%;
    text-align: center;
}
/*content3*/
.section3{
    display: block;
    background: #668aac;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 50px 100px;
}
.section3 ul a{
    display: inline-block;
    padding: 6px 20px;
    color: #d5e9ff;
    border-radius: 40px;
    font-weight: 500;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}
.section3 ul li{
    list-style: none;
    font-size: 16px;
}
.section3 .contentbox .text h2{
        padding: 10px 0;
    }
ul li a:hover{
    background-color: #668aac;
    color: #abbfd4;
}
@media (max-width:1300px){
    .section1{
        padding: 30px 10px 30px 60px;
    }
    .section1 .text1 h2{
        font-size: 35px;
        line-height: 1.5;
    }
    .section1 .imgbox .homeimg{
        max-width: 700px;
    }
}
@media (max-width:1100px){
    .section1{
        padding: 100px 10px 30px 40px;
    }
    .section1 .text1 h2{
        font-size: 30px;
        line-height: 1.5;
    }
    .section1 .imgbox .homeimg{
        max-width: 550px;
    }
}
@media (max-width:910px){
    .section1 .imgbox .homeimg{
        max-width: 400px;
    }
}/*
@media (max-width:790px){
    content{
        margin: 80px 0 0;
    }
    .section1{
        min-height: 500px;
        padding: 30px 0px 30px 40px;
        flex-direction: column-reverse;
    }
    .section1 .imgbox .homeimg{
        max-width: 450px;
    }
}*/
@media (max-width:790px){
    .section1{
        padding: 40px 30px 50px;
        flex-direction: column-reverse;
    }
    .section1 .text1{
        margin-top: -50px;
        z-index: 5;
    }
    .section1 .text1 h2{
        font-size: 50px;
        line-height: 1.5;
    }
    .section1 .text1 p{
        font-size: 20px;
    }
    .section1 .text1 div{
        text-align: center;
    }
    .section1 .text1 div a{
        font-size: 20px;
        align-items: center;
    }
    .section1 .imgbox{
        justify-content: center;
    }
    .section1 .imgbox .homeimg{
        max-width: 600px;
    }
    .section2 h2{
        text-align: center;
    }
}

@media (max-width:790px){    
    .contentbox .text{
        line-height: 1.75;
        width: 100%;
        flex: 0 0 100%;
        position: relative;
        
    }
    .contentbox .text h2{
        padding: 50px 0 0;
        font-size: 300%;
    }
    .contentbox .picside{
        margin: 30px 0;
        position: relative;
        text-align: center;
        width: 100%;
        flex: 0 0 100%;
    }
    ul a{
        text-align: center;
    }
    .section2{
        padding: 30px 50px;
    }
    .section2 h1{
        font-size: 450%;
        text-align: center;
    }
    .section3 h2{
        font-size: 400%;
        text-align: center;
    }
    .text h5{
        font-size: 18px;
    }
    .section2 h2{
        font-size: 400%;
    }
    .section3{
        padding: 30px 50px;
    }
}
@media (max-width:600px){
    .section1 .imgbox .homeimg{
        max-width: 450px;
    }
    .section1 .text1 h2{
        font-size: 35px;
    }
    .section1 .text1 p{
        font-size: 14px;
    }
    .section1 .text1 div a{
        font-size: 16px;
    }
    .section2{
        padding: 30px 30px;
    }
    .contentbox .text{
        padding-left: 0;
    }
    
}
@media (max-width:450px){
    .section1 .imgbox .homeimg{
        max-width: 300px;
        padding: 40px 0 0;
    }
    .section1 .text1 h2{
        font-size: 30px;
        text-align: center;
    }
    .section2{
        padding: 30px 30px;
    }
    .section3{
        padding: 30px 30px;
    }
    
}
@media (max-width:370px){
    .section1 .imgbox .homeimg{
        max-width: 280px;
        padding: 30px 0 0;
    }
    .section1 .text1 h2{
        font-size: 25px;
    }
    .section1 .text1 p{
        font-size: 14px;
    }
    .section2 h1{
        font-size: 400%;
    }
    .section3 h5{
        font-size: 16px;
    }
    .text h5{
        font-size: 16px;
    }
    .contentbox .text h2{
        font-size: 250%;
    }
}
