.PATHWAY{
    padding: 0! important;
    background: var(--color-blue);
    min-height: 100px;
    height: 300px;
}
.PATHWAY h1{
    color: var(--color-light);
    text-align: center;
    padding: 100px;
    font-size: 400%;
}
@media (max-width:790px){
    .PATHWAY{
        min-height: 100px;
        height: 300px;
    }
    .PATHWAY h1{
        color: var(--color-light);
        text-align: center;
        padding: 100px;
        font-size: 500%;
    }
}

@media(max-width:400px){
    .PATHWAY h1{
        padding: 100px 20px;
        font-size: 400%;
    }
}